<%- include('partials/head'); -%>
<h1><%=scriptdata.title%></h1>
<%- include('partials/electedinfo'); -%>
<blockquote>
    <%-scriptdata.html%>
</blockquote>
<h2>Background</h2>
<%-scriptdata.issueHtml-%>
<%- include('partials/foot'); -%>