<%- include('partials/head'); -%>
<h1><%=scriptdata.title%></h1>
<%- include('partials/electedinfo'); -%>
<%-scriptdata.html%>
<h2>Background</h2>
<%-scriptdata.issueHtml-%>
<%- include('partials/foot'); -%>